<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.ecommerce.mappers.ClientMapper">

<!-- 
 <resultMap type="Client" id="ClientResultMap">
    <id property="idClient" column="idClient"/>
    <result property="loginClient" column="loginClient"/>
    <result property="pwdClient" column="pwdClient"/>
    <result property="prenomClient" column="prenomClient"/>
    <result property="nomClient" column="nomClient"/>   
   </resultMap> -->

  <select id="getClientById" parameterType="int" resultType="com.java.ecommerce.model.Client">
     SELECT 
    *    
     FROM "CLIENT"
     WHERE "idClient" = #{idClient}
  </select>
  
    <select id="getClientByLogin" resultType="com.java.ecommerce.model.Client">
     SELECT 
      * 
     FROM "CLIENT"
     WHERE "loginClient" = #{loginClient}
  </select>
  
  <select id="getClientByMail" resultType="com.java.ecommerce.model.Client">
     SELECT 
      * 
     FROM "CLIENT"
     WHERE "mailClient" = #{mailClient}
  </select>
  

  <select id="getAllClients" resultType="com.java.ecommerce.model.Client">
   SELECT * FROM "CLIENT"
  </select>

  <insert id="insertClient">
   INSERT INTO "CLIENT"("idClient", "loginClient", "pwdClient", "prenomClient", "nomClient, "mailClient")
    VALUES(#{idClient}, #{loginClient}, #{pwdClient}, #{prenomClient}, #{nomClient}, #{mailClient})
  </insert>

  <update id="updateClient">
    UPDATE "CLIENT" 
    SET
     "pwdClient"= #{pwdClient},
     "prenomClient" = #{prenomClient},
     "nomClient" = #{nomClient}
    WHERE "idClient" = #{idClient}
  </update>

  <delete id="deleteClient" parameterType="int">
    DELETE FROM "CLIENT" WHERE "idClient" = #{idClient}
  </delete>

</mapper>