<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.ecommerce.mappers.ProduitMapper">


  <select id="getProduitById" parameterType="int" resultType="com.java.ecommerce.model.Produit">
     SELECT 
    *    
     FROM produit
     WHERE idProduit = #{idProduit}
  </select>
  
   
 <select id="getHighProduitId" resultType="int">
SELECT MAX(idProduit) from produit

</select>
  <select id="getAllProduits" resultType="com.java.ecommerce.model.Produit">
   SELECT * FROM produit
  </select>

  <insert id="insertProduit">
   INSERT INTO produit(idProduit, nomProduit, prixUnitaireProduit, descriptionProduit, shortDescriptionProduit)
    VALUES(#{idProduit}, #{nomProduit}, #{prixUnitaireProduit}, #{descriptionProduit}, #{shortDescriptionProduit})
  </insert>

  <update id="updateProduit">
    UPDATE produit 
    SET
     descriptionProduit= #{descriptionProduit},
     nomProduit = #{nomProduit},
     prixUnitaireProduit = #{prixUnitaireProduit},
     shortDescriptionProduit = #{shortDescriptionProduit}
    WHERE idProduit = #{idProduit}
  </update>

  <delete id="deleteProduit" parameterType="int">
    DELETE FROM produit WHERE idProduit = #{idProduit}
  </delete>

</mapper>