body {
font-family:"trebuchet ms",sans-serif;
 font-weight:bold;
color:black;
background-color:white;
background-image:url(../img/background.jpg);
background-repeat:repeat;
}


.login{
	position:absolute;
   top:30%;
   left:50%;
   width:400px; 
   height:200px; 
  margin-left:-150px; 
}


label{
	display: block;
	width: 250px;
	float: left;
}

legend {
 color:#DF3F3F;
 font-weight:bold
 }
 
fieldset {
 padding:20px 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 }
 
label.inline {
 display:inline;
 margin-right:30px;
 }
 
.bouton {
	float: right;
}
.bouton a {
	position:relative;
	display:block;
	width:150px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	background:url(img/boutonnoir.png) no-repeat;
	color:white;
	text-decoration:none;
}

.bouton_connect {
	float : center;
}
.bouton_connect a {
	position:relative;
	display:block;
	width:150px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	background:url(img/boutonnoir.png) no-repeat;
	color:white;
	text-decoration:none;
	margin-left: auto;
  margin-right: auto;
}

.bouton_search{
	float: left;
}
.bouton_search a {
	position:relative;
	display:block;
	width:150px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	background:url(img/boutonnoir.png) no-repeat;
	color:white;
	text-decoration:none;
}


.options {
	float: right;
	text-align: right;
	}

.recherche {
	float: left;
}
	


.nobordure {
	border : 0px;
	text-align : center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.trnobordure {
	border : 0px;
	width: 50%;
	padding: 5px;
}

.tdnobordure {
	border : 0px;
	width: 50%;
	padding: 5px;
	text-align: center;
}

input[type=image]{
		
	 	cursor:pointer;}
}

input[type=text] {
background-color:#FFF3F3;
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:400px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }

.result {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}.results table {
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.results tr:last-child td:last-child {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.results table tr:first-child td:first-child {
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.results table tr:first-child td:last-child {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}.results tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}.results tr:hover td{
	background-color:#ffaaaa;
		

}
.results td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.results tr:last-child td{
	border-width:0px 1px 0px 0px;
}.results tr td:last-child{
	border-width:0px 0px 1px 0px;
}.results tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.results tr:first-child td{
		background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);

	background-color:#ff5656;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.results tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);

	background-color:#ff5656;
}
.results tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.results tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.show_hide {
    display:none;
}